@model IEnumerable<CategoryModel>
<h3>Справочник категорий товара</h3>
<div class="div-box">
    <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="">Добавить категорию</a>
</div>

<div>
    <div>
        @if (Model.Any())
        {
            <div>
                @foreach (CategoryModel item in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@item.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <input type="hidden" name="id" value="@item.Id">
                            <a href="#" onclick="document.getElementById('form-@item.Id').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">
                            @($"{item.CategoryName}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>


